---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import SocialLinks from "./SocialLinks.astro";
---

<header class="bg-[linear-gradient(var(--background))] px-4 py-2">
  <nav class="flex items-center justify-between flex-wrap">
    <!-- Logo + Site Title -->
    <span class="flex items-center gap-2">
      <img src="/img/me.png" class="w-10 h-10" alt="Site logo" />
      <h6 class="!mt-3">
        <a href="/" class="!no-underline !text-black">{SITE_TITLE}</a>
      </h6>
    </span>

    <!-- Mobile Menu Toggle Button -->
    <button
      class="text-3xl md:hidden focus:outline-none"
      id="menuToggle"
      aria-label="Toggle menu"
    >
      ☰
    </button>

    <!-- Navigation Links (desktop + mobile) -->
    <div
      id="menu"
      class="w-full h-screen md:h-fit mt-4 md:mt-0 md:flex-1 md:flex md:items-center justify-between hidden"
    >
      <div></div>
      <div
        class="internal-links flex flex-col md:flex-row gap-2 md:gap-16 py-4"
      >
        <HeaderLink href="/">Portfolio</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </div>

      <div class="social-links mt-16 md:mt-0 md:ml-6">
        <SocialLinks />
      </div>
    </div>
  </nav>
</header>

<script>
  const toggleBtn = document.getElementById("menuToggle");
  const menu = document.getElementById("menu");

  toggleBtn!.addEventListener("click", () => {
    menu!.classList.toggle("hidden");
  });
</script>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: linear-gradient(var(--background)) no-repeat;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    color: var(--text);
    text-decoration: none;
    border-bottom: 4px solid transparent;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--highlight);
    @apply max-w-[150px];
  }
  .social-links,
  .social-links a {
    display: flex;
  }
</style>
