---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import SocialLinks from "./SocialLinks.astro";
---

<header>
  <nav>
    <span class="flex flex-row items-center gap-2">
      <img src="/img/me.png" class="w-12" alt="" />
      <h2 class="flex flex-row">
        <a href="/">{SITE_TITLE}</a>
      </h2>
    </span>

    <div class="internal-links">
      <HeaderLink href="/">Blog</HeaderLink>
      <HeaderLink href="/portfolio">Portfolio</HeaderLink>
    </div>

    <SocialLinks />
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: linear-gradient(var(--background)) no-repeat;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 0.5em;
    color: var(--text);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--highlight);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
