<div class="social-links flex flex-row gap-4">
  <a href="https://github.com/govinda-hosein" target="_blank">
    <span class="sr-only">Go to my GitHub page</span>
    <img src="/icons/github.svg" class="h-8 w-8" />
  </a>
  <a href="https://tt.linkedin.com/in/govinda-hosein-94b8ab71" target="_blank">
    <span class="sr-only">Go to my LinkedIn page</span>
    <img src="/icons/linkedin.svg" class="h-8 w-8" />
  </a>
</div>
