---
import { splitString } from "../utils";

interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
const [firstPart, lastWord] = splitString(title);
---

<h7 class="pt-10">{subtitle}</h7>
<h3>
  <strong>{firstPart} <span class="text-highlight">{lastWord}</span></strong>
</h3>
